@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title-l {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.03em;
}
@media (min-width: 0px) {
  .title-l {
    font-size: 52px;
    line-height: 60px;
  }
}
@media (min-width: 810px) {
  .title-l {
    font-size: 64px;
    line-height: 64px;
  }
}
@media (min-width: 1200px) {
  .title-l {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (min-width: 1600px) {
  .title-l {
    font-size: 112px;
    line-height: 112px;
  }
}

.title-lm {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.03em;
}
@media (min-width: 0px) {
  .title-lm {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (min-width: 810px) {
  .title-lm {
    font-size: 60px;
    line-height: 76px;
  }
}
@media (min-width: 1200px) {
  .title-lm {
    font-size: 92px;
    line-height: 108px;
  }
}

.title-m {
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-size: 40px;
  line-height: 44px;
}

.title-ms {
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-size: 32px;
  line-height: 40px;
}

.title-s {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 22px;
  line-height: 30px;
}

.body-s, .body-s-b {
  color: #BCC1D6;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.body-s-b {
  font-weight: 600;
}

.body-m, .body-m-b, .body-m-m {
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: -0.01em;
}
@media (min-width: 0px) {
  .body-m, .body-m-b, .body-m-m {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 810px) {
  .body-m, .body-m-b, .body-m-m {
    font-size: 18px;
    line-height: 22px;
  }
}

.body-m-m {
  font-weight: 500;
}

.body-m-b {
  font-weight: 600;
}

.header-logo {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 18px;
  line-height: 2em;
}

.link {
  color: #8B90AD;
}
.link:hover {
  color: #BCC1D6;
  text-decoration: underline;
}

.link-2 {
  color: #BCC1D6;
}
.link-2:hover {
  color: #BCC1D6;
  text-decoration: underline;
}

.gradient {
  background: linear-gradient(90deg, #FFFFFF 0%, #C670FF 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

html,
body {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

html {
  background-color: #14151A;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
  position: relative;
}

#pages {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#pages::-webkit-scrollbar {
  display: none;
}
#pages #page-container {
  scroll-snap-align: start end;
  width: 100%;
  align-items: center;
}
#pages #page-container.full {
  height: 100dvh;
}
#pages #page-container.full-min {
  min-height: 100dvh;
}
#pages #page-container #page {
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 1420px;
}
@media (min-width: 1200px) {
  #pages #page-container #page {
    width: calc(100% - 84px - 84px);
  }
}
@media (min-width: 810px) {
  #pages #page-container #page {
    width: calc(100% - 32px - 32px);
  }
}
@media (min-width: 0px) {
  #pages #page-container #page {
    width: calc(100% - 20px - 20px);
  }
}
#pages #page-container #background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#pages #page-container #background .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#pages #page-container #background video,
#pages #page-container #background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=global.css.map */
