@use 'abstracts' as *;

#container {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;

  #view {
    margin: 128px auto 64px;
    width: 100%;
    max-width: 860px;

    @include respond-to-only('desktop-small') {
      width: calc(100% - 84px - 84px);
    }

    @include respond-to-only('tablet') {
      width: calc(100% - 32px - 32px);
    }

    @include respond-to-only('phone') {
      width: calc(100% - 20px - 20px);
    }

    padding: 32px 0;
    gap: 32px;

    white-space: wrap;

    .title {
      gap: 12px;
      padding-bottom: 12px;
    }

    .thumbnail {
      padding-top: 9 / 16 * 100%;
      border-radius: 12px;
      background-color: $gs-7;
      overflow: hidden;

      * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
      }
    }

    .divider {
      height: 1px;
      background-color: $gs-7;
      margin: 32px 0;
    }

    .buttons {
      flex-direction: row;
      justify-content: center;
      gap: 12px;

      .button {
        gap: 4px;
        padding: 10px 16px;
        background-color: $gs-7;
        border-radius: 96px;
        cursor: pointer;
      }
    }
  }
}