@use 'abstracts' as *;

#page.post {
  padding: 128px 0 64px 0;
  gap: 32px;

  @include respond-to-only('desktop-small') {
    padding: 108px 0 60px 0;
  }

  @include respond-to-down('tablet') {
    padding: 100px 0;
  }

  .header {
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;

    .category {
      flex-direction: row;
      padding: 8px;
      gap: 4px;
      border-radius: 96px;

      background-color: $gs-8;
      border: 1px solid $gs-6;

      .item {
        padding: 12px 16px;
        background-color: $gs-7;
        border-radius: 96px;
        cursor: pointer;

        &.selected {
          background-color: $gs-1;

          p {
            @extend .body-s-b;
            color: $gs-7;
          }
        }

        p {
          @extend .body-s;
        }
      }
    }
  }

  .list {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include respond-to-only('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to-only('phone') {
      grid-template-columns: repeat(1, 1fr);
    }

    .item {
      background-color: $gs-8;
      border: 1px solid $gs-7;
      border-radius: 12px;
      gap: 16px;
      overflow: hidden;

      .thumbnail {
        padding-top: 9 / 16 * 100%;
        background-color: $gs-7;
        overflow: hidden;

        * {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: cover;
        }
      }

      .info {
        padding: 0px 20px 20px;
        gap: 4px;
        white-space: wrap;

        .body-s {
          color: $gs-5;
        }
      }
    }
  }
}

#news {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;

  #view {
    margin: 128px auto 64px;
    width: 100%;
    max-width: 860px;

    @include respond-to-only('desktop-small') {
      width: calc(100% - 84px - 84px);
    }

    @include respond-to-only('tablet') {
      width: calc(100% - 32px - 32px);
    }

    @include respond-to-only('phone') {
      width: calc(100% - 20px - 20px);
    }

    padding: 32px 0;
    gap: 32px;

    white-space: wrap;

    .title {
      gap: 12px;
      padding-bottom: 12px;
    }

    .thumbnail {
      padding-top: 9 / 16 * 100%;
      border-radius: 12px;
      background-color: $gs-7;
      overflow: hidden;

      * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
      }
    }

    .divider {
      height: 1px;
      background-color: $gs-7;
      margin: 32px 0;
    }

    .buttons {
      flex-direction: row;
      justify-content: center;
      gap: 12px;

      .button {
        gap: 4px;
        padding: 10px 16px;
        background-color: $gs-7;
        border-radius: 96px;
        cursor: pointer;
      }
    }
  }

  #album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include respond-to-only('phone') {
      grid-template-columns: repeat(1, 1fr);
    }

    .image {
      padding-top: 9 / 16 * 100%;
      background-color: $gs-7;
      overflow: hidden;

      background-position: center center;
      background-size: cover;

      border-radius: 12px;
    }
  }
}

#portfolio {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;

  #view {
    margin: 128px auto 64px;
    width: 100%;
    max-width: 1420px;

    @include respond-to-only('desktop-small') {
      width: calc(100% - 84px - 84px);
    }

    @include respond-to-only('tablet') {
      width: calc(100% - 32px - 32px);
    }

    @include respond-to-only('phone') {
      width: calc(100% - 20px - 20px);
    }

    gap: 160px;

    white-space: wrap;

    .head {
      padding-top: 32px;
      gap: 32px;

      .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include respond-to-only('phone') {
          flex-direction: column;
          align-items: flex-start;
        }

        .title {
          gap: 12px;
          padding-bottom: 12px;

          .tags {
            flex-direction: row;
            gap: 8px;

            @include respond-to-only('phone') {
              flex-direction: column;
              align-items: flex-start;
            }

            .tag {
              padding: 8px 12px;
              background-color: $gs-8;
              border: 1px solid $gs-7;
              border-radius: 96px;

              p {
                color: $primary;
              }
            }
          }
        }
      }

      .extra {
        gap: 8px;

        .item {
          flex-direction: row;
          white-space: pre-wrap;
          gap: 20px;

          .body-m {
            color: $gs-4;
          }
        }
      }

      .thumbnail {
        padding-top: 9 / 16 * 100%;
        border-radius: 12px;
        background-color: $gs-7;
        overflow: hidden;

        * {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: cover;
        }
      }
    }

    .foot {
      gap: 32px;

      .divider {
        height: 1px;
        background-color: $gs-7;
        margin: 32px 0;
      }

      .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 12px;

        .button {
          gap: 4px;
          padding: 10px 16px;
          background-color: $gs-7;
          border-radius: 96px;
          cursor: pointer;
        }
      }
    }
  }

  #album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;

    @include respond-to-only('desktop-small') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to-only('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to-only('phone') {
      grid-template-columns: repeat(1, 1fr);
    }

    .image {
      padding-top: 9 / 16 * 100%;
      background-color: $gs-7;
      overflow: hidden;

      background-position: center center;
      background-size: cover;

      border-radius: 12px;
    }
  }
}

#images {
  display: grid;
  gap: 20px;

  @include respond-to-only('phone') {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .image {
    padding-top: 9 / 16 * 100%;
    background-color: $gs-7;
    overflow: hidden;

    background-position: center center;
    background-size: cover;

    border-radius: 12px;
  }
}

#image,
#video {
  @include respond-to-only('tablet') {
    min-height: 320px;
  }

  @include respond-to-only('phone') {
    min-height: 200px;
  }
}

#row {
  flex-direction: row;
  gap: 48px;

  @include respond-to-down('tablet') {
    flex-direction: column;
  }

  >* {
    flex: 1;
  }
}

#column {
  gap: 48px;
}

#mix {
  gap: 20px;
}

#list {
  gap: 8px;

  &.two {
    gap: 16px;

    .item {
      gap: 12px;
    }

    .content {
      flex-direction: column !important;
    }
  }

  .item {
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url("https://assets.visionarylabstech.com/icons/list.svg")
    }

    .content {
      flex: 1;
      flex-direction: row;
      justify-content: space-between;

      .key {
        color: $gs-1;
      }
    }
  }
}

#box {
  background-color: $gs-8;
  border: 1px solid $gs-7;
  border-radius: 12px;

  &.highlight {
    border-color: $primary;
  }
}

#list-highlight {
  white-space: nowrap;
  gap: 20px;

  .item {
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url("https://assets.visionarylabstech.com/icons/list.svg")
    }

    p {
      span {
        color: $primary;
      }
    }
  }
}