$primary: #C670FF;
$red: #FF4F4F;

$gs-1: #FFFFFF;
$gs-1-t70: rgba($gs-1, 0.7);
$gs-1-t8: rgba($gs-1, 0.08);

$gs-4: #BCC1D6;

$gs-5: #8B90AD;

$gs-6: #3C3E4C;

$gs-7: #25262E;

$gs-8: #191A1F;

$gs-9: #14151A;
$gs-9-t70: rgba($gs-9, 0.7);

$gs-10: #000000;
$gs-10-t70: rgba($gs-10, 0.7);